/*-----index.html------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper {
	width:90%;
	max-width:900px;
	margin:auto;
	display:flex;
	flex-flow:row wrap;
	box-sizing: border-box;
	font-family: "Dancing Script";
	animation-name: animacion;
	animation-duration: 1.5s;

}

@keyframes animacion {
	0% {
		margin-top: 150%;
	}
	60% {
		margin-top: -5%;
	}
	100% {
		margin-top: 0%;
	}
}
body {
	background: #02010a;
}

header {
	width: 100%;
	padding: 20px;
	background-color: #5b7989;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	align-items: center;
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;

}

header a {
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	text-shadow: 2px 2px #02010a;
	vertical-align: top;

}
header nav{
	width: 50%;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

header nav a {

	color:#fff;
	text-align: center;
	padding:10px;
	flex-grow:1;
}
.central img {
	width: 100%
}
.central{
	background:#82c3a6;
	padding:20px;	
	flex:1 1 100%;
}
.central article {
	margin-bottom: 20px;
	padding-bottom:20px;

}

.secundario {
	background:#d5c75f;
	padding:20px;
	flex:1 1 50%;

	display: flex;
	flex-wrap:nowrap;
	flex-direction:row;
	justify-content:flex-start;
}
.secundario img{
	width: 100%;
}
.secundario .enlace {

	margin:2%;
  text-align: center;
}

.leyenda{
  text-decoration: underline;
  font-weight: bold;
}

.secundario .enlace img, article img{
  box-shadow: 2px 2px #02010a;
}

footer {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background:#C6d5c5;
	width: 100%;
	padding:20px;
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

footer .contacto {
	text-align: center;
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
	padding: 10px;
}

footer .contacto a {
	flex-grow:1;

	color:#000000;
	padding:0px;
	text-align: left;
	text-decoration:none;
	vertical-align: middle;

}

footer .contacto a:hover {
	background:#d5c75f;
}


@media screen and (max-width: 900px) {
	.wrapper {
		flex-direction:column;
	}

	header {
		flex-direction:column;
		padding:0;
	}
	header nav {
		width: 100%;
	}
	.secundario {
		flex-direction:row;
		flex:0;
	}

	.secundario .enlace {
		flex-grow:1;
	}
}

@media screen and (max-width: 600px) {
	.secundario {
		flex-direction:column;
	}

	footer {
		justify-content:space-around;
	}
}

#paisaje:hover{
	transform : rotate(10deg);

	box-shadow: 2px 2px #82c3a6;
	border: 2px solid black;
}
#paisaje, #retrato{
	transition: 1.5s ease;

}
#retrato:hover {
    transform: translate(20px, -5px);
		box-shadow: 2px 2px #82c3a6;
		border: 2px solid black;
}

/*-----paisajes.html------*/
section.galeria{
	margin: 0 auto;
	display: flex;
	flex-wrap:wrap;
	flex-flow: row wrap;
	padding: 5%;
    padding-bottom: 2%;
    width: 100%;
	background:#d5c75f;
}
section.galeria article{
	-webkit-box-flex: auto;
	flex: 33.3%;
    padding: 0.2em;
}
section.galeria article img {
    width: 100%;
    height: auto;
    max-height: 300px;
    max-width: 300px;
}

 @media screen and (max-width: 600px) {
    section.galeria div {
      margin: 0 auto;
    }
    section.galeria {
        flex-direction: column;
    }
}

#osaka1{
  filter: blur(10px);
}
#osaka3{
  filter: sepia(90%);
}
#osaka2, #osaka4, #osaka6{
  filter: grayscale(100%);
}

#retrato1{
  filter: blur(10px);
}
#retrato3{
  filter: sepia(90%);
}
#retrato2, #retrato4, #retrato6{
  filter: grayscale(100%);
}
